#UNITY GENERATED
Temp
Temp/
Temp/*
Obj/
Obj/*
UnityGenerated/
UnityGenerated/*
Library/
Library/*
Assets/AssetStoreTools*
*_Data/
*_Data/*

#VISUAL STUDIO/MONO DEVELOP
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

#BUILD FILES
*.apk
*.exe

#OS RELATED
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
